# ETL
## Development Datasets
Create development datasets consisting of the top 'nrows' observations from each file

In [1]:
# Imports
import pandas as pd

In [2]:
# Constants 
NROWS = 10000
FILEPATH_TRAIN_CORE_RAW = "data/raw/sample_skeleton_train.csv"
FILEPATH_TRAIN_CORE_DEVELOPMENT = "data/development/sample_skeleton_train.csv"
FILEPATH_TRAIN_COMMON_FEATURES_RAW = "data/raw/common_features_train.csv"
FILEPATH_TRAIN_COMMON_FEATURES_DEVELOPMENT = "data/development/common_features_train.csv"

In [3]:
# Create downsampled core training set 
df = pd.read_csv(FILEPATH_TRAIN_CORE_RAW,nrows=10000, index_col=False, header=None)
df.to_csv(FILEPATH_TRAIN_CORE_DEVELOPMENT)
df.head()

,0,1,2,3,4,5
0,1,0,0,bacff91692951881,9,21090522181.021090645531.021090934451....
1,2,0,0,bacff91692951881,10,21091097321.021090462841.021090990351....
2,3,1,0,bacff91692951881,20,21090897311.021090475601.050995117692....
3,4,0,0,bacff91692951881,13,30193516651.021090503641.021090833881....
4,5,0,0,bacff91692951881,9,20549456631.030193516651.021691721791....

In [4]:
# Create downsampled common features training set 
df = pd.read_csv(FILEPATH_TRAIN_COMMON_FEATURES_RAW,nrows=10000, index_col=False, header=None)
df.to_csv(FILEPATH_TRAIN_COMMON_FEATURES_DEVELOPMENT)
df.head()

                  0    1                                                  2
0  84dceed2e3a667f8  343  101313191.012534387741.012634387791.0...
1  0000350f0c2121e7  811  127_1437162241.94591127_1435146270.69315...
2  000091a89d1867ab    7  12534387731.012434387691.012234387611....
3  0001a4114b0ae8bf  231  150_1439166842.3979150_1439407981.070561...
4  0001def19d7cb335  964  150_1439091500.84715150_1439330134.44265...