# ETL
## Development Datasets
Create development datasets consisting of the top 'nrows' observations from each file

In [1]:
# Imports
import pandas as pd
import re

In [2]:
# Constants 
NROWS = 10000
FILEPATH_TRAIN_CORE_RAW = "data/raw/sample_skeleton_train.csv"
FILEPATH_TRAIN_CORE_DEVELOPMENT = "data/development/sample_skeleton_train.csv"
FILEPATH_TRAIN_COMMON_FEATURES_RAW = "data/raw/common_features_train.csv"
FILEPATH_TRAIN_COMMON_FEATURES_DEVELOPMENT = "data/development/common_features_train.csv"

In [3]:
# Create downsampled core training set 
df = pd.read_csv(FILEPATH_TRAIN_CORE_RAW,nrows=10000, index_col=False, header=None)
df.to_csv(FILEPATH_TRAIN_CORE_DEVELOPMENT, index=False, header=None)
df.head()

,0,1,2,3,4,5
0,1,0,0,bacff91692951881,9,21090522181.021090645531.021090934451....
1,2,0,0,bacff91692951881,10,21091097321.021090462841.021090990351....
2,3,1,0,bacff91692951881,20,21090897311.021090475601.050995117692....
3,4,0,0,bacff91692951881,13,30193516651.021090503641.021090833881....
4,5,0,0,bacff91692951881,9,20549456631.030193516651.021691721791....

In [4]:
feature_string = df.head(1)[5].values[0]
features = re.split("\x01",feature_string)
feature_names = []
feature_ids = []
feature_values = []
for feature in features:
    name, id, value = re.split("\x01|\x02|\x03",feature)
    feature_names.append(name)
    feature_ids.append(int(id))
    feature_values.append(float(value))

print(feature_names)
print(feature_ids)
print(feature_values)

['210', '210', '210', '216', '301', '205', '206', '207', '508']
[9052218, 9064553, 9093445, 9154780, 9351665, 4186222, 8316799, 8416205, 9355039]
[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.69315]

In [5]:
# Create downsampled common features training set 
df = pd.read_csv(FILEPATH_TRAIN_COMMON_FEATURES_RAW,nrows=10000, index_col=False, header=None)
df.to_csv(FILEPATH_TRAIN_COMMON_FEATURES_DEVELOPMENT,index=False, header=None)

In [6]:
df.head()

                  0    1                                                  2
0  84dceed2e3a667f8  343  101313191.012534387741.012634387791.0...
1  0000350f0c2121e7  811  127_1437162241.94591127_1435146270.69315...
2  000091a89d1867ab    7  12534387731.012434387691.012234387611....
3  0001a4114b0ae8bf  231  150_1439166842.3979150_1439407981.070561...
4  0001def19d7cb335  964  150_1439091500.84715150_1439330134.44265...

In [7]:
fp = "data/staged/impressions.csv"
df = pd.read_csv(fp, nrows=1000, index_col=False)
df.head()

,sample_id,click_label,conversion_label,num_core_features,common_features_index
0,0,1,2,4,3
1,1,0,0,9,bacff91692951881
2,2,0,0,10,bacff91692951881
3,3,1,0,20,bacff91692951881
4,4,0,0,13,bacff91692951881